In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

# Import the datetime module from the datetime library.
from datetime import datetime

# Import the time module.
import time

# Get today's date in seconds.
today = time.time()
today

# Import linear regression from the SciPy stats module.
from scipy.stats import linregress

# Import the dependencies.
import gmaps
import requests

In [2]:
# Import the WeatherPy_database.csv file from Part 1 as a new DataFrame.
part1_data_to_load = "weather_data/WeatherPy_database.csv"
vacation_df = pd.read_csv(part1_data_to_load)
vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Rain (inches),Snow (inches)
0,0,Dikson,RU,73.51,80.55,36.68,93,100,17.87,light rain,0.91,0.0
1,1,Beni Mazar,EG,28.50,30.80,82.92,27,0,1.81,clear sky,0.00,0.0
2,2,Sao Miguel Do Araguaia,BR,-13.28,-50.16,68.14,63,24,2.42,few clouds,0.00,0.0
3,3,Namibe,AO,-15.20,12.15,71.22,46,0,6.78,clear sky,0.00,0.0
4,4,Barrow,US,71.29,-156.79,37.40,86,75,10.29,broken clouds,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
610,610,Skagastrond,IN,27.92,96.17,86.54,78,74,1.48,moderate rain,1.78,0.0
611,611,Concordia,AR,-31.39,-58.02,77.00,78,100,7.00,light rain,0.20,0.0
612,612,Kurmanayevka,RU,52.51,52.07,71.22,75,3,12.08,clear sky,0.00,0.0
613,613,Envira,BR,-7.30,-70.22,71.65,96,42,0.83,scattered clouds,0.00,0.0
614,614,Rio Gallegos,AR,-51.62,-69.22,33.80,80,48,11.41,scattered clouds,0.00,0.0

In [3]:
vacation_df.dtypes

City_ID            int64
City              object
Country           object
Lat              float64
Lng              float64
Max Temp         float64
Humidity           int64
Cloudiness         int64
Wind Speed       float64
Description       object
Rain (inches)    float64
Snow (inches)    float64
dtype: object

In [4]:
# Filter the DataFrame for minimum and maximum temperature preferences, and if the rain or snow accumulation is 0 inches or not using conditional statements. Do the following:
# Prompt the customer for the minimum temperature preference.
# Prompt the customer for the maximum temperature preference.
# Prompt the customer to answer if he or she would like it to be raining or not, using input("Do you want it to be raining? (yes/no) ").
# Prompt the customer to answer if he or she would like it to be snowing or not, using input("Do you want it to be snowing? (yes/no) ").
min_temp_pref = input("What is the coldest temperature you prefer:")
max_temp_pref = input("What is the warmest temperature you prefer:")
rain_yn = input("Do you want it to be raining? (yes/no) ")
snow_yn = input("Do you want it to be snowing? (yes/no) ")

What is the coldest temperature you prefer:70
What is the warmest temperature you prefer:72
Do you want it to be raining? (yes/no) yes
Do you want it to be snowing? (yes/no) no

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_vacation_df = vacation_df.loc[(vacation_df["Max Temp"] <= float(max_temp_pref)) & \
                                        (vacation_df["Max Temp"] >= float(min_temp_pref))
                                        ]
preferred_vacation_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Rain (inches),Snow (inches)
3,3,Namibe,AO,-15.20,12.15,71.22,46,0,6.78,clear sky,0.00,0.0
8,8,Griffith,US,41.53,-87.42,71.60,94,75,5.82,broken clouds,0.00,0.0
13,13,Yellowknife,CA,62.46,-114.35,70.00,37,20,13.87,few clouds,0.00,0.0
37,37,Isangel,VU,-19.55,169.27,71.71,78,13,13.04,few clouds,0.00,0.0
38,38,Saleaula,VU,-19.55,169.27,71.71,78,13,13.04,few clouds,0.00,0.0
43,43,Touros,BR,-5.20,-35.46,71.60,94,1,2.24,light rain,0.12,0.0
63,63,Souillac,MU,-20.52,57.52,71.60,83,75,16.11,shower rain,0.00,0.0
72,72,Huitziltepec,MX,17.82,-99.47,72.00,84,100,5.06,light rain,0.22,0.0
77,77,Kinshasa,CD,-4.32,15.32,70.97,80,2,4.34,clear sky,0.00,0.0
86,86,Los Llanos De Aridane,ES,28.66,-17.92,71.60,64,90,14.99,overcast clouds,0.00,0.0

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_vacation_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Namibe,AO,71.22,clear sky,-15.20,12.15,
8,Griffith,US,71.60,broken clouds,41.53,-87.42,
13,Yellowknife,CA,70.00,few clouds,62.46,-114.35,
37,Isangel,VU,71.71,few clouds,-19.55,169.27,
38,Saleaula,VU,71.71,few clouds,-19.55,169.27,
43,Touros,BR,71.60,light rain,-5.20,-35.46,
63,Souillac,MU,71.60,shower rain,-20.52,57.52,
72,Huitziltepec,MX,72.00,light rain,17.82,-99.47,
77,Kinshasa,CD,70.97,clear sky,-4.32,15.32,
86,Los Llanos De Aridane,ES,71.60,overcast clouds,28.66,-17.92,

In [19]:
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
print(params)

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDLLIdRTXrSDp66pHyZZaW4_RM5aHXySSY'}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?&key=" + g_key
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [22]:
print(hotel_df.head(15))

                      City Country  Max Temp      Description    Lat     Lng  \
3                   Namibe      AO     71.22        clear sky -15.20   12.15
8                 Griffith      US     71.60    broken clouds  41.53  -87.42
13             Yellowknife      CA     70.00       few clouds  62.46 -114.35
37                 Isangel      VU     71.71       few clouds -19.55  169.27
38                Saleaula      VU     71.71       few clouds -19.55  169.27
43                  Touros      BR     71.60       light rain  -5.20  -35.46
63                Souillac      MU     71.60      shower rain -20.52   57.52
72            Huitziltepec      MX     72.00       light rain  17.82  -99.47
77                Kinshasa      CD     70.97        clear sky  -4.32   15.32
86   Los Llanos De Aridane      ES     71.60  overcast clouds  28.66  -17.92
134                Palmira      CO     71.60    broken clouds   3.54  -76.30
149      Sao Joao Da Barra      BR     71.40        clear sky -21.64  -41.05
169                Ballina      AU     72.00       light rain -28.87  153.57
179              Mahebourg      MU     71.60      shower rain -20.41   57.70
208               Kundiawa      PG     71.46    moderate rain  -6.02  144.97

                                         Hotel Name
3                            Hotel Chik Chik Namibe
8                Motel 6 Hammond, IN - Chicago Area
13                               The Explorer Hotel
37                      Volcano Sea View Tree House
38                      Volcano Sea View Tree House
43                                  INN NEW HORIZON
63                                      Bils' Villa
72
77                                   Kabinda Center
86                                    Valle Aridane
134                             Hotel Las Victorias
149                         Pousada Porto De Canoas
169  Ramada Hotel & Suites by Wyndham Ballina Byron
179              Shandrani Beachcomber Resort & Spa
208                                  Kundiawa Hotel

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
m = gmaps.Map()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

# m.save("weather_data/vacation1.png")

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add the cities to a marker layer map with a pop-up marker for each city that includes:
# Hotel name
# City
# Country
# Current weather description with the maximum temperature
# Add a heatmap of temperature for the vacation spots and marker for each city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [26]:
# Save and upload the new DataFrame as WeatherPy_vacation.csv.
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))